<div class="form-test m-5 d-flex flex-column align-items-center">
  <form [formGroup]="testGroup" (ngSubmit)="submit()">
    <div class="d-flex flex-column align-items-center test">
      <div class="mb-3">
        <label for="place-name" class="form-label">Place name</label>
        <input type="text" id="place-name" class="form-control" formControlName="placeName">
      </div>
      <div class="mb-3">
        <label for="place-address" class="form-label">Place address</label>
        <input type="text" id="place-address" class="form-control" formControlName="placeAddress">
      </div>
      <div class="mb-3">
        <label for="place-id" class="form-label">Place id</label>
        <input type="text" id="place-id" class="form-control" formControlName="placeId">
      </div>
      <div class="mb-3">
        <label for="place-alias" class="form-label">Place alias</label>
        <input type="text" id="place-alias" class="form-control" formControlName="placeAlias">
      </div>
      <div class="submit">
        <button class="btn btn-primary">Enviar</button>
      </div>
    </div>
  </form>
  <div class="get-btn">
    <button class="btn btn-info" (click)="getPlaces()">
      Consultar places
    </button>
  </div>
  @if (places.length > 0) {
    @for (place of places; track $index) {
      <div class="d-flex align-items-center">
        <span>{{place.alias}}</span>
        <button class="btn btn-danger" (click)="deletePlace($index)">delete</button>
      </div>
    }
  }
</div>