.navbar-container {
  width: 100vw;
  background: #000;
  height: 60px;
}

.home-btn a,
.favorite-btn a,
.linkedin-btn a,
.github-btn a,
.project-name span {
  color: #fff;
  font-family: "Kode mono", monospace;
  font-weight: 600;
  font-size: 20px;
}

a {
  text-decoration: none;
}