/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.leaflet-control-zoom-in,
.leaflet-control-zoom-out,
.leaflet-control-zoom-fullscreen {
  border: none;
  border-radius: 30px;
  margin-bottom: 5px;
}

.leaflet-bar a:first-child,
.leaflet-touch .leaflet-bar a:first-child {
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
}

.leaflet-touch .leaflet-bar a:last-child {
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.leaflet-touch .leaflet-bar {
  border: none;
}